@import "tailwindcss";

:root 
{
  --background: #f0f0f0;
  --foreground: #181818;
  font-family: var(--font-fredoka), sans-serif;
}

@theme inline 
{
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) 
{
  :root 
  {
    --background: #181818;
    --foreground: #f0f0f0;
  }
}
